* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.header {
    background-image: url(../images/banner/banner1.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1530px;
    height: 710px;

}

.banner {
    text-align: right;
    padding-top: 216px;
    padding-right: 230px;

}

div h2 {
    color: #151414;
    font-weight: 700;
    font-size: 65px;
}

div .p {
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    margin-top: 15px;
}

.btn-primary {
    width: 150px;
    height: 50px;
    margin-top: 60px;
    color: #F15B22 rgba(red, green, blue, alpha);
    padding: 15px 21px;
}

.container {
    display: flex;
    margin-top: 150px;
}

.out-put {
    margin-left: 206px;
    
}
ul{
    list-style: none;
}
ul li{
    content: icon;
}
 ul li{
    padding-right: 400px;
}
.skill-container{
    display: flex;
}
h1{
    text-align: center;
}
.contant{
    display: flex;
    gap: ;
}
.contant .section-title{
    text-align: left;
}